h1{
    color:goldenrod;
}
body{
    background-image:url(./images/casino-background.jpeg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* font stack */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif; 
    color: white;
    font-weight: bold;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; */
}
#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    padding: 5px 0px;
    width: 150px;
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    margin: 2px 0px;
}